  /* Custom Css General Styles */
/* Copyright @ anonymous-chat.6te.net */ 
/* Last Date Modified: 11/13/2020 */

@charset "utf-8";

@import url("font-awesome.min.css");

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

h1 {
	color: white;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

h1 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
	line-height: 1.3;
}

ol, ul {
	list-style: none;
}

p {
	margin: 0 0 2em 0;
	color: white;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
}

.element-animate {
  opacity: 0;
  visibility: hidden; 
}

h2 {
	margin-top: 0px;
}

#ig-icon {
	width: 16px;
}

#fb-icon {
	width: 16px;
}

#tw-icon {
	width: 16px;
}

.ig-box {
	display: inline-block;
}

.fb-box {
	display: inline-block;
	margin-left: 26px;
}

.tw-box {
	display: inline-block;
	margin-left: 26px;
}

.content_pack {
  width: 100%;
  margin: 0 auto;
}

.cont_block {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url('Css Based Images/Html-Back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.coming_soon_cont {
  width: 500px;
  background: #fff;
  padding-top: 65px;
  padding-right: 55px;
  padding-bottom: 50px;
  padding-left: 55px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 4px 8px 2px rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  -moz-box-shadow: 3px 4px 8px 2px rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  -webkit-box-shadow: 3px 4px 8px 2px rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  -os-box-shadow: 3px 4px 8px 2px rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  -ms-box-shadow: 3px 4px 8px 2px rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.notify_me_block {
  width: 100%;
}

.notify_me_block_title {
  display: block;
  padding-bottom: 16px;
  font-family: Calibri;
  font-size: 17px;
  font-weight: 678;
  color: #222;
  line-height: 1.2;
  text-align: center;
}

.err_msg {
	display: none;
	margin-bottom: 0px;
	color: red;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

.name-holder {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding-bottom: 30px;
}

.email-holder {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding-bottom: 30px;
}

.input-val {
  display: block;
  width: 100%;
  font-family: Calibri;
  font-size: 15px;
  color: #222;
  outline: none;
  line-height: 1.2;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

input.input-val {
  height: 50px;
  padding: 0 25px 0 25px;
  color: #222;
}

.notify_me_btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 23px;
  margin-top: 20px;
}

.notify_submit {
    background-position: center;
    transition: background .8s
}

.notify_submit:hover {
    background: #47a7f5 radial-gradient(circle,transparent 1%,#47a7f5 1%) center/15000%
}

.notify_submit:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s
}

.notify_submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  outline: none;
  padding-left: 23px;
  padding-right: 23px;
  background-color: #222;
  font-family: Calibri;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-color: #222;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px #999;
}

.gl-backg {
	width: 26rem;
}

.go_back_btn {
	width:100%; 
	border-radius:30px; 
	-moz-border-radius:30px; 
	-webkit-border-radius:30px; 
	-o-border-radius:30px; 
	-ms-border-radius:30px; 
	padding:6px 20px; 
	box-sizing:border-box; 
	font-size:11px; 
	font-weight:700; 
	color:#fff; 
	text-transform:uppercase; 
	border:none; 
	background-image:-moz-linear-gradient(to left,#74ebd5,#9face6); 
	background-image:-ms-linear-gradient(to left,#74ebd5,#9face6); 
	background-image:-o-linear-gradient(to left,#74ebd5,#9face6); 
	background-image:-webkit-linear-gradient(to left,#74ebd5,#9face6); 
	background-image:linear-gradient(to left,#74ebd5,#9face6); 
	text-decoration:none;
}

.app_logo {
	text-align: center;
	padding-bottom: 6px;
}

@media only screen and (max-width: 423px){
	.gl-backg {
		width: 23rem;
	}
}

@media only screen and (max-width: 380px){
	.gl-backg {
		width: 20rem;
	}
	
	.go_back_btn {
		font-size: 9px;
	}
}

@media only screen and (max-width: 340px){
	.gl-backg {
		width: 18rem;
	}
	
	.go_back_btn {
		font-size: 8px;
	}
}

@media only screen and (max-width: 308px){
	.gl-backg {
		width: 16rem;
	}
	
	.go_back_btn {
		font-size: 6px;
	}
}

@media only screen and (max-width: 500px){
	.coming_soon_cont {
		padding-top: 50px;
		padding-right: 15px;
		padding-bottom: 50px;
		padding-left: 15px;
	}
}