/*
 * Anonymous-chat_styles v1.0.1 (http://localhost/www.anonymous-chat.com)
 * Copyright @ 2020 Anonymous-chat
 * Last date modified: 14/12/2020
*/

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    background-color: #f5f6f7;
}

a {
    color: #149ddd;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

nav {
    background-color: #040b14 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #fff
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader .8s linear infinite;
    -webkit-animation: loader .8s linear infinite
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        border: 4px solid #f84982;
        border-left-color: transparent
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #25a2c3;
        border-left-color: transparent
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f84982;
        border-left-color: transparent
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        border: 4px solid #f84982;
        border-left-color: transparent
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #25a2c3;
        border-left-color: transparent
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f84982;
        border-left-color: transparent
    }
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle:hover {
    background-color: #149ddd !important;
    color: #fff !important;
}

.mobile-nav-toggle i {
    color: #149ddd;
}

.mobile-nav-toggle i:hover {
    color: #fff;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

#side_navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#side_navbar .intro_txt img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

#side_navbar .intro_txt h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#side_navbar .intro_txt h1 a, #side_navbar .intro_txt h1 a:hover {
    color: #fff;
    text-decoration: none;
}

.mobile-nav-active #side_navbar {
    left: 0;
}

.mobile-nav-active {
    overflow: hidden;
}

nav ul li {
    float: none !important;
}

.navbar-menu {
    margin-top: 14px;
}

.navbar-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-menu > ul > li {
    position: relative;
    white-space: nowrap;
}
  
.navbar-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    transition: 0.3s;
    font-size: 15px;
}

.text-light {
    text-align: center !important;
}

#lnk {
    text-decoration: none;
    margin-left: 12px;
}
  
.navbar-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}
  
.navbar-menu a:hover, .navbar-menu .active > a, .navbar-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}
  
.navbar-menu a:hover i, .navbar-menu .active > a i, .navbar-menu li:hover > a i {
    color: #149ddd;
}

#main-body_content {
    margin-left: 300px;
    margin-top: 60px;
    transition: all ease-in-out 0.5s;
}

.horizontal_nav {
    text-align: right;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,.02);
}

.btn {
    background-color: #149ddd !important;
    outline: none !important;
}

.btn:hover {
    background-color: #149ddd !important;
}

#lg_1 {
    display: inline-block;
}

#lg_2 {
    display: none;
}

#page_footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
    transition: all ease-in-out 0.5s;
}

#page_footer .copyright {
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}
  
.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
}
  
.back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: background 0.2s ease-in-out;
}

.admin_login_container {
    width: 100%;
    margin: 0 auto;
}

.login-content {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e9faff;
}

.form_container {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.admin_login_form {
    width: 100%;
}

.admin_login_form-title {
    display: block;
    color: #555555;
    text-align: center;
    font-family: Calibri;
    font-size: 17px;
    font-weight: 678;
    line-height: 1.2;
    margin-top: 9px;
}

.input_field {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.input_field .tp_border {
    border-top: none;
}

.ps_rel {
    position: relative;
}

.inp_element {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Calibri;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    outline: none !important;
    padding: 13px;
}

input .inp_element {
    height: 48px;
    padding: 0 25px 0 25px;
    font-family: Calibri;
}

.focus_inp, 
.focus_inp_2 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.submit-btn_area {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.submit_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    background-color:  #333333;
    font-family: Calibri;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    outline: none !important;
    border-color: #333333;
    border-width: 1px;
    border-style: solid;
}
  
.submit_btn:hover {
    background-color: #4272d7;
}

.modal_container {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1111111111111111111111;
    display: none;
    background-color: rgb(24 26 25 / 50%);
}

.dropdown_modal {
    display: none;
    background-color: #fff;
    position: relative;
    top: -250px;
    transition: all 0.5s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px #149ddd;
}

.modal_body {
    padding: 13px;
}

#txt_img_upload {
    color: green;
    margin-bottom: 15px;
}

#img_upl_field {
    overflow-x: revert;
}

.modal_head {
    background-color: #040b14;
    color: #fff;
    padding: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal_foot {
    background-color: #040b14;
    color: #fff;
    height: 33px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.dataTables_wrapper div.dataTables_length select {
    color: #212529 !important;
    border-color: #212529 !important;
}

label {
    color: #212529 !important;
}

div.dataTables_wrapper div.dataTables_length select {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 28px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    display: inline-block;
    float: right;
}

.dataTables_length {
    display: inline-block;
    margin-top: 16px;
}

.previous {
    background-color: #149ddd !important;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #fff !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    margin-right: 6px !important;
}

.next {
    background-color: #149ddd !important;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #fff !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    margin-left: 6px !important;
}

.current {
    background-color: #149ddd !important;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #fff !important;
    cursor: pointer !important;
    border-radius: 20%;
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.paginate_button {
    cursor: pointer !important;
}

.table_view_error {
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    display: none;
}

#edit_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#res_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#block_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#mail_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#mail_all_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#del_all_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#mail_all_btn_txt {
    position: relative !important;
    top: 3px !important;
}

#del_all_btn_txt {
    position: relative !important;
    top: 3px !important;
}

#edit_btn_icon {
    font-size: 1.1em;
    position: relative;
    top: 1px;
}

#mail_btn_icon {
    font-size: 1.1em;
    position: relative;
    top: 1px;
}

#res_btn_icon {
    font-size: 1.1em;
    position: relative;
    top: 0px;
}

#block_btn_icon {
    font-size: 1.1em;
    position: relative;
    top: 1px;
}

#del_btn {
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
}

#del_btn_icon {
    font-size: 1.1em;
    position: relative;
    top: 1px;
}

#edit_cont {
    position: relative !important;
    top: 3px !important;
}

#res_cont {
    position: relative !important;
    top: 3px !important;
}

#mail_cont {
    position: relative !important;
    top: 3px !important;
}

#del_cont {
    position: relative !important;
    top: 3px !important;
}

#block_cont {
    position: relative !important;
    top: 3px !important;
}

#err_txt {
    text-align: -webkit-center;
    text-align: -moz-center;
}

#pop_up_alert {
    width: 500px;
}

.alert-dismissible .close {
    position: relative !important;
    top: -0.87rem !important;
}

.sorting_1 {
    text-align: center !important;
}

.username_form {
    border-color: #040b14;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 9px;
}

.fullname_form {
    border-color: #040b14;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 9px;
}

.password_form {
    border-color: #040b14;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 9px;
}

#image_upload_element {
    margin-top: 35px;
}

#url_field {
    border-color: #040b14;
    border-width: 1px;
    border-style: solid;
    background-color: #fff !important;
    width: 245px;
    border-radius: 8px;
    height: 36px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
  
@media only screen and (max-width: 1199px){
    #side_navbar {
      left: -300px;
    }

    .horizontal_nav {
        text-align: left;
    }

    #lg_1 {
        display: none;
    }

    #lg_2 {
        display: inline-block;
    }

    #page_footer {
      width: auto;
      left: -300px;
      padding-right: 20px 15px;
    }

    #main-body_content {
        margin-left: 0;
    }

    #err_txt {
        text-align: none;
    }
    
    #pop_up_alert {
        width: auto;
    }
}

@media only screen and (max-width: 767px){
    .dataTables_paginate {
        margin-top: 20px !important;
    }

    #cont_table_display {
        display: none;
    }

    .table_view_error {
        display: block;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 500px){
    .form_container {
        padding-left: 34px !important;
        padding-right: 34px !important;
    }
}

